[submodule "applyHere"]
	path = applyHere
	url = https://github.com/Kaustubh-Natuskar/companies-to-apply.git
[submodule "remoteJobs"]
	path = remoteJobs
	url = https://github.com/remoteintech/remote-jobs
[submodule "hiringWOwhiteboards"]
	path = hiringWOwhiteboards
	url = https://github.com/poteto/hiring-without-whiteboards
